@using Fortificar.Views.Projetos;

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ProjetoNavPages.DadosGeraisNavClass(ViewContext)" id="dados-gerais" asp-controller="Projetos" asp-action="DadosGeraisNav">Dados Gerais</a></li>

    <li class="nav-item"><a class="nav-link @ProjetoNavPages.ResponsavelLegalNavClass(ViewContext)" id="responsavel-legal" asp-controller="Projetos" asp-action="ResponsavelLegalNav">Responsável Legal</a></li>

    <li class="nav-item"><a class="nav-link @ProjetoNavPages.ResponsavelTecnicoNavClass(ViewContext)" id="responsavel-tecnico" asp-controller="Projetos" asp-action="ResponsavelTecnicoNav">Responsável Técnico</a></li>

    <li class="nav-item"><a class="nav-link @ProjetoNavPages.ProponenteNavClass(ViewContext)" id="proponente" asp-controller="Projetos" asp-action="ProponenteNav">Conhecendo o Proponente</a></li>

    <li class="nav-item"><a class="nav-link @ProjetoNavPages.DadosProjetoNavClass(ViewContext)" id="dados-projeto" asp-controller="Projetos" asp-action="DadosProjetoNav">Resumo do Projeto</a></li>

    <li class="nav-item"><a class="nav-link @ProjetoNavPages.PlanoAplicacaoNavClass(ViewContext)" id="plano-aplicacao" asp-controller="Projetos" asp-action="PlanoAplicacaoNav">Plano de Aplicação</a></li>

    <li class="nav-item"><a class="nav-link @ProjetoNavPages.FotosNavClass(ViewContext)" id="fotos" asp-controller="Projetos" asp-action="FotosNav">Fotos</a></li>

</ul>
