@model Fortificar.Models.ViewModels.ProjetoViewModel
@{
    ViewData["Title"] = "Criar projeto";
}

    <div class="row justify-content-center">
        <div class="marginB card-body">
        <form asp-action="SalvarProjeto" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- 1. DADOS GERAIS DO PROPONENTE -->
            <h5 class="font-weight-bold">1. DADOS GERAIS DO PROPONENTE</h5>     

            <div class="row g-2">
                <div class="col-8">
                <div class="form-floating mb-3">
                    <input readonly asp-for="Projeto.Proponente.NomeFantasia"  class="form-control" placeholder="Nome Fantasia da Empresa" />
                    <label asp-for="Projeto.Proponente.NomeFantasia">Nome Fantasia da Empresa</label>
                    <span asp-validation-for="Projeto.Proponente.NomeFantasia" class="text-danger"></span>
                </div>
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3">
                        <input readonly asp-for="Projeto.Proponente.CNPJ" class="form-control" placeholder="CNPJ da Empresa" />
                        <label asp-for="Projeto.Proponente.CNPJ">CNPJ da Empresa</label>
                        <span asp-validation-for="Projeto.Proponente.CNPJ" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Endereco" class="form-control" placeholder="Logradouro" />
                <label asp-for="Projeto.Proponente.Endereco">Endereço</label>
                <span asp-validation-for="Projeto.Proponente.Endereco" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input readonly asp-for="Projeto.Proponente.Bairro" class="form-control" placeholder="Bairro" />
                        <label asp-for="Projeto.Proponente.Bairro">Bairro</label>
                        <span asp-validation-for="Projeto.Proponente.Bairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input readonly asp-for="Projeto.Proponente.Cidade" class="form-control" placeholder="Cidade" />
                        <label asp-for="Projeto.Proponente.Cidade">Cidade</label>
                        <span asp-validation-for="Projeto.Proponente.Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input readonly asp-for="Projeto.Proponente.CEP" class="form-control" placeholder="CEP" />
                        <label asp-for="Projeto.Proponente.CEP">CEP</label>
                        <span asp-validation-for="Projeto.Proponente.CEP" class="text-danger"></span>
                    </div>
                </div>
            </div>     


              <div class="row g-2">
                <div class="col-8">
                    <div class="form-floating mb-3">
                        <input readonly asp-for="Projeto.Proponente.EmailEmpresa" class="form-control" placeholder="Email" />
                        <label asp-for="Projeto.Proponente.EmailEmpresa">Email da Empresa</label>
                        <span asp-validation-for="Projeto.Proponente.EmailEmpresa" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-4">
                    <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Site" class="form-control" placeholder="Sítio eletrônico de divulgação de parceria" />
                <label asp-for="Projeto.Proponente.Site">Site</label>
                <span asp-validation-for="Projeto.Proponente.Site" class="text-danger"></span>
            </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="Projeto.Proponente.Telefone1">Telefone 1</label>
                <span asp-validation-for="Projeto.Proponente.Telefone1" class="text-danger"></span>
            </div>

                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="Projeto.Proponente.Telefone2">Telefone 2</label>
                <span asp-validation-for="Projeto.Proponente.Telefone2" class="text-danger"></span>
            </div>

                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="Projeto.Proponente.Telefone3">Telefone 3</label>
                <span asp-validation-for="Projeto.Proponente.Telefone3" class="text-danger"></span>
            </div>

                </div>
            </div>  

            <!-- 2. IDENTIFICAÇÃO DO RESPONSÁVEL LEGAL PELO PROPONENTE -->
            <h5 class="font-weight-bold">2. IDENTIFICAÇÃO DO RESPONSÁVEL LEGAL PELO PROPONENTE</h5> 
            <div class="row">
                <div class="col-8">
                    <!-- Responsável Legal -->
                                <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.Nome" class="form-control" placeholder="Nome do Responsável Legal" />
                                    <label asp-for="Projeto.ResponsavelLegal.Nome">Nome do Responsável Legal</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.Nome" class="text-danger"></span>
                                </div>
                </div>

                <div class="col-4">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.CPF" class="form-control" placeholder="CPF" />
                                    <label asp-for="Projeto.ResponsavelLegal.CPF">CPF</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.CPF" class="text-danger"></span>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.RG" class="form-control" placeholder="RG" />
                                    <label asp-for="Projeto.ResponsavelLegal.RG">RG</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.RG" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                                    <label asp-for="Projeto.ResponsavelLegal.OrgaoExpedidor">Órgão Expedidor</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.OrgaoExpedidor" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                                    <label asp-for="Projeto.ResponsavelLegal.CargoOSC">Cargo OSC</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.CargoOSC" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                                    <label asp-for="Projeto.ResponsavelLegal.MandatoVigente">Mandato Vigente</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.MandatoVigente" class="text-danger"></span>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.Endereco" class="form-control" placeholder="Endereço" />
                                    <label asp-for="Projeto.ResponsavelLegal.Endereco">Endereço</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.Endereco" class="text-danger"></span>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.Telefone1" class="form-control" placeholder="Telefone 1" />
                                    <label asp-for="Projeto.ResponsavelLegal.Telefone1">Telefone 1</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.Telefone1" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input readonly asp-for="Projeto.ResponsavelLegal.Telefone2" class="form-control" placeholder="Telefone 2" />
                                    <label asp-for="Projeto.ResponsavelLegal.Telefone2">Telefone 2</label>
                                    <span asp-validation-for="Projeto.ResponsavelLegal.Telefone2" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                                        <div class="form-floating mb-3">
                                            <input readonly asp-for="Projeto.ResponsavelLegal.Telefone3" class="form-control" placeholder="Telefone 3" />
                                            <label asp-for="Projeto.ResponsavelLegal.Telefone3">Telefone 3</label>
                                            <span asp-validation-for="Projeto.ResponsavelLegal.Telefone3" class="text-danger"></span>
                                        </div>
                </div>
            </div>

            <!-- 3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO DO PROJETO -->
            <h5 class="font-weight-bold">3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO DO PROJETO</h5> 
            <div class="row">
                <div class="col-8">
                    <!-- Responsável Técnico -->
                                <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.Nome" class="form-control" placeholder="Nome do Responsável Técnico" />
                                    <label asp-for="Projeto.ResponsavelTecnico.Nome">Nome do Responsável Técnico</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.Nome" class="text-danger"></span>
                                </div>
                </div>

                <div class="col-4">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.CPF" class="form-control" placeholder="CPF" />
                                    <label asp-for="Projeto.ResponsavelTecnico.CPF">CPF</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.CPF" class="text-danger"></span>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.RG" class="form-control" placeholder="RG" />
                                    <label asp-for="Projeto.ResponsavelTecnico.RG">RG</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.RG" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                                    <label asp-for="Projeto.ResponsavelTecnico.OrgaoExpedidor">Órgão Expedidor</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.OrgaoExpedidor" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                                    <label asp-for="Projeto.ResponsavelTecnico.CargoOSC">Cargo OSC</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.CargoOSC" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                                    <label asp-for="Projeto.ResponsavelTecnico.MandatoVigente">Mandato Vigente</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.MandatoVigente" class="text-danger"></span>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.Endereco" class="form-control" placeholder="Endereço" />
                                    <label asp-for="Projeto.ResponsavelTecnico.Endereco">Endereço</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.Endereco" class="text-danger"></span>
                                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.Telefone1" class="form-control" placeholder="Telefone 1" />
                                    <label asp-for="Projeto.ResponsavelTecnico.Telefone1">Telefone 1</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.Telefone1" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                                    <input asp-for="Projeto.ResponsavelTecnico.Telefone2" class="form-control" placeholder="Telefone 2" />
                                    <label asp-for="Projeto.ResponsavelTecnico.Telefone2">Telefone 2</label>
                                    <span asp-validation-for="Projeto.ResponsavelTecnico.Telefone2" class="text-danger"></span>
                                </div>
                </div>

                <div class="col">
                        <div class="form-floating mb-3">
                            <input asp-for="Projeto.ResponsavelTecnico.Telefone3" class="form-control" placeholder="Telefone 3" />
                            <label asp-for="Projeto.ResponsavelTecnico.Telefone3">Telefone 3</label>
                            <span asp-validation-for="Projeto.ResponsavelTecnico.Telefone3" class="text-danger"></span>
                        </div>
                </div>
            </div>

            <!-- 4. CONHECENDO O PROPONENTE -->
            <h5 class="font-weight-bold">4. CONHECENDO O PROPONENTE</h5>
            <div class="form-floating mb-3">
                <textarea readonly asp-for="Projeto.Proponente.Historico" class="form-control" placeholder="Breve histórico e finalidade da OSC" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Proponente.Historico">Breve histórico e finalidade da OSC</label>
                <span asp-validation-for="Projeto.Proponente.Historico" class="text-danger"></span>
            </div>

            <!-- 5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE -->
            <h5 class="font-weight-bold">5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE</h5>
            <div class="form-floating mb-3">
                <textarea readonly asp-for="Projeto.Proponente.PrincipaisAcoes" class="form-control" placeholder="Principais Ações" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Proponente.PrincipaisAcoes">Principais Ações</label>
                <span asp-validation-for="Projeto.Proponente.PrincipaisAcoes" class="text-danger"></span>
            </div>

            <!-- 6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE -->
            <h5 class="font-weight-bold">6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE</h5>    
            <div class="form-group">
                <div class="checkbox-grid">
                    @foreach (var item in Model.PublicoBeneficiario)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="@item.IsSelected" value="@item.Id" />
                            <label class="form-check-label" for="@item.Id">@item.Nome</label>
                        </div>
                    }

                </div>
            </div>

            <br>
            <!-- 7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS) -->
            <h5 class="font-weight-bold">7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS)</h5>
            <div class="form-floating mb-3">
                <textarea readonly asp-for="Projeto.Proponente.RegioesAtendimento" class="form-control" placeholder="Regiões de Atendimento" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Proponente.RegioesAtendimento">Regiões de Atendimento</label>
                <span asp-validation-for="Projeto.Proponente.RegioesAtendimento" class="text-danger"></span>
            </div>

            <!-- 8. INFRAESTRUTURA DA PROPONENTE -->
            <h5 class="font-weight-bold">8. INFRAESTRUTURA DA PROPONENTE</h5>
            <div class="form-floating mb-3">
                <textarea readonly asp-for="Projeto.Proponente.Infraestrutura" class="form-control" placeholder="Infraestrutura" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Proponente.Infraestrutura">Infraestrutura</label>
                <span asp-validation-for="Projeto.Proponente.Infraestrutura" class="text-danger"></span>
            </div>

            <!-- 9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE -->
            <h5 class="font-weight-bold">9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE</h5>
            <div class="form-floating mb-3">
                <textarea readonly asp-for="Projeto.Proponente.EquipeMultidisciplinar" class="form-control" placeholder="Equipe Multidisciplinar" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Proponente.EquipeMultidisciplinar">Equipe Multidisciplinar</label>
                <span asp-validation-for="Projeto.Proponente.EquipeMultidisciplinar" class="text-danger"></span>
            </div>

            <!-- INFORMAÇÕES RELEVANTES -->
            <h5 class="font-weight-bold">INFORMAÇÕES RELEVANTES</h5>
            <div class="form-floating mb-3">
                <textarea readonly asp-for="Projeto.Proponente.InformacoesRelevantes" class="form-control" placeholder="Informações Relevantes" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Proponente.InformacoesRelevantes">Informações Relevantes</label>
                <span asp-validation-for="Projeto.Proponente.InformacoesRelevantes" class="text-danger"></span>
            </div>

            <!-- 10. RESUMO DO PROJETO -->
            <h5 class="font-weight-bold">10. RESUMO DO PROJETO</h5>
            <h6 class="font-weight-bold">10.1 Objeto</h6>
            <div class="form-floating mb-3">
                <input asp-for="Projeto.Objeto" class="form-control" placeholder="Objeto" />
                <label asp-for="Projeto.Objeto">Objeto do Projeto</label>
                <span asp-validation-for="Projeto.Objeto" class="text-danger"></span>
            </div>

            <h6 class="font-weight-bold">10.2 Objetivo Geral</h6>
            <div class="form-floating mb-3">
                <input asp-for="Projeto.ObjetivoGeral" class="form-control" placeholder="Objetivo Geral" />
                <label asp-for="Projeto.ObjetivoGeral">Objetivo Geral</label>
                <span asp-validation-for="Projeto.ObjetivoGeral" class="text-danger"></span>
            </div>

            <h6 class="font-weight-bold">10.3 Objetivos Específicos</h6>
            <div class="form-floating mb-3">
                <textarea asp-for="Projeto.ObjetivosEspecificos" class="form-control" placeholder="Objetivos Específicos" style="height: 150px;"></textarea>
                <label asp-for="Projeto.ObjetivosEspecificos">Objetivos Específicos</label>
                <span asp-validation-for="Projeto.ObjetivosEspecificos" class="text-danger"></span>
            </div>

            <h6 class="font-weight-bold">10.4 Público Beneficiário do Projeto</h6>
            <div class="form-floating mb-3">
                <select asp-for="PublicoBeneficiario" class="form-control">
                    <option value="">Selecione o Público Beneficiário</option>
                    <option value="CRI">Criança</option>
                    <option value="ADO">Adolescente</option>
                    <option value="JOV">Jovens</option>
                    <option value="ADU">Adultos</option>
                    <option value="IDO">Idosos</option>
                    <option value="CAE">Criança e Adolescente</option>
                    <option value="CAJ">Criança, adolescentes, Jovens, adultos e idosos</option>
                    <option value="ADI">Adultos e Idosos</option>
                    <option value="MUL">Mulheres</option>
                    <option value="PCD">PCD</option>
                    <option value="DSA">Dependentes de substâncias psicoativas</option>
                </select>
                <label asp-for="PublicoBeneficiario">Público Beneficiário</label>
                <span asp-validation-for="PublicoBeneficiario" class="text-danger"></span>
            </div>



            <h6 class="font-weight-bold">10.5 Justificativa</h6>
            <div class="form-floating mb-3">
                <textarea asp-for="Projeto.Justificativa" class="form-control" placeholder="Justificativa" style="height: 150px;"></textarea>
                <label asp-for="Projeto.Justificativa">Justificativa do Projeto</label>
                <span asp-validation-for="Projeto.Justificativa" class="text-danger"></span>
            </div>  

            <h6 class="font-weight-bold">10.6 Equipe de Profissionais que Atuarão na Execução do Projeto</h6>
            <!-- Equipe de Profissionais -->
            <table class="table" id="equipeProfissionaisTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Formação</th>
                        <th>Função</th>
                        <th>Carga Horária Semanal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="Projeto.EquipeExecucao[0].Nome" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeExecucao[0].Nome" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeExecucao[0].CPF" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeExecucao[0].CPF" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeExecucao[0].Formacao" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeExecucao[0].Formacao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeExecucao[0].Funcao" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeExecucao[0].Funcao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeExecucao[0].CargaHorariaSemanal" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeExecucao[0].CargaHorariaSemanal" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" onclick="addEquipeProfissionais()">Adicionar Profissional</button>
            <br />                        <br />


            <h6 class="font-weight-bold">10.7 Período de Execução do Projeto</h6>

            <div class="row">
                <div class="col">
                    <label asp-for="Projeto.InicioExecucao" class="control-label"></label>
                <input asp-for="Projeto.InicioExecucao" class="form-control" placeholder="Início em: " />
                <span asp-validation-for="Projeto.InicioExecucao" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Projeto.TerminoExecucao" class="control-label"></label>
                <input asp-for="Projeto.TerminoExecucao" class="form-control" placeholder="Término em: " />
                <span asp-validation-for="Projeto.TerminoExecucao" class="text-danger"></span>
                </div>
            </div>
                        
            <br />

            <!-- 10.8 CRONOGRAMA FÍSICO-FINANCEIRO -->
            <h6 class="font-weight-bold">10.8 CRONOGRAMA FÍSICO-FINANCEIRO DE EXECUÇÃO DO PROJETO</h6>
            <table class="table table-bordered" id="cronogramaFisicoFinanceiroTable">
                <tbody>
                    <tr>
                        <td colspan="3">
                            Meta:<br>
                            <input asp-for="Projeto.Cronograma" class="form-control" />
                            <span asp-validation-for="Projeto.Cronograma" class="text-danger"></span>
                        </td>
                        <td colspan="2">
                            Valor:<br>
                            <input asp-for="Projeto.ValorMeta" class="form-control" />
                            <span asp-validation-for="Projeto.ValorMeta" class="text-danger"></span>
                        </td>
                        <th></th>
                    </tr>
                    <tr>
                        <td colspan="5">
                            Indicador(es): <br />
                            <textarea asp-for="Projeto.Indicadores" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Projeto.Indicadores" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="2" class="align-middle text-center">Etapas/Atividades</th>
                        <th rowspan="2" class="align-middle text-center">Valor</th>
                        <th colspan="2" class="text-center">Período de Execução</th>
                    </tr>
                    <tr>
                        <th>Início</th>
                        <th>Término</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Projeto.CronogramaMeta[0].Etapas" class="form-control" />
                            <span asp-validation-for="Projeto.CronogramaMeta[0].Etapas" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.CronogramaMeta[0].ValorEtapa" class="form-control" />
                            <span asp-validation-for="Projeto.CronogramaMeta[0].ValorEtapa" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.CronogramaMeta[0].Inicio" class="form-control" type="date" />
                            <span asp-validation-for="Projeto.CronogramaMeta[0].Inicio" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.CronogramaMeta[0].Termino" class="form-control" type="date" />
                            <span asp-validation-for="Projeto.CronogramaMeta[0].Termino" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" onclick="addCronograma()">Adicionar Etapa/Atividade</button>
                        
            <br />                        <br />

            <!-- 11. PLANO DE APLICAÇÃO -->
            <h5 class="font-weight-bold">11. PLANO DE APLICAÇÃO</h5>
            <h6 class="font-weight-bold">11.1 Equipamentos e Materiais Permanentes</h6>
            <table class="table" id="equipamentosTable">
                <thead>
                    <tr>
                        <th>Especificação</th>
                        <th>Unidade</th>
                        <th>Quantidade</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="Projeto.PlanoAplicacao[0].Especificacao" class="form-control" />
                            <span asp-validation-for="Projeto.PlanoAplicacao[0].Especificacao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.PlanoAplicacao[0].Unidade" class="form-control" />
                            <span asp-validation-for="Projeto.PlanoAplicacao[0].Unidade" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.PlanoAplicacao[0].Quantidade" class="form-control" />
                            <span asp-validation-for="Projeto.PlanoAplicacao[0].Quantidade" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.PlanoAplicacao[0].ValorUnitario" class="form-control" />
                            <span asp-validation-for="Projeto.PlanoAplicacao[0].ValorUnitario" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.PlanoAplicacao[0].ValorTotal" class="form-control" />
                            <span asp-validation-for="Projeto.PlanoAplicacao[0].ValorTotal" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" onclick="addEquipamento()">Adicionar Equipamento</button>

                       
            <br />                        <br />

            <!-- 11.2 Equipe Encarregada pela Execução do Projeto -->
            <h6 class="font-weight-bold">11.2 Equipe encarregada pela execução do projeto</h6>
            <table class="table" id="equipamentosTable">
                <thead>
                    <tr>
                        <th>Especificação</th>
                        <th>Unidade</th>
                        <th>Quantidade</th>
                        <th>Valor Unitário</th>
                        <th>Valor Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="Projeto.EquipeEncarregada[0].Especificacao" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeEncarregada[0].Especificacao" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeEncarregada[0].Unidade" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeEncarregada[0].Unidade" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeEncarregada[0].Quantidade" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeEncarregada[0].Quantidade" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeEncarregada[0].ValorUnitario" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeEncarregada[0].ValorUnitario" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Projeto.EquipeEncarregada[0].ValorTotal" class="form-control" />
                            <span asp-validation-for="Projeto.EquipeEncarregada[0].ValorTotal" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" onclick="addEquipeEncarregada()">Adicionar Profissional</button>
                        
            <br />                        <br />

            <!-- 12. FOTOS DO PROJETO/INSTITUIÇÃO -->
            <h5 class="font-weight-bold">12. FOTO DO PROJETO/INSTITUIÇÃO</h5>

            <div class="form-group">
                <label for="anexo">Selecione uma imagem:</label>
                <input asp-for="Projeto.Anexo.Imagem" type="file" name="anexo" id="anexo" class="form-control" accept=".jpg, .jpeg, .png" />
                <span asp-validation-for="Projeto.Anexo" class="text-danger"></span>
                <span class="text-success" id="uploadMessage"></span>
            <button type="button" id="uploadButton" class="btn btn-primary">Anexar</button>
            </div>
            <br />

            <div class="form-group">
                <h5 class="font-weight-bold">13. SELECIONE A(S) ODS DO PROJETO</h5>
                <div class="checkbox-grid">
                    @for (int i = 0; i < Model.ODS.Count; i++)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="ODS[i].IsSelected" />
                            <label class="form-check-label" for="odsCheckbox@Model.ODS[i].Id">
                                @Model.ODS[i].Id - @Model.ODS[i].Nome
                            </label>
                        </div>
                    }
                </div>
            </div>

            
            <br />
            
            <h5 class="font-weight-bold">14. ORÇAMENTO PEDIDO PARA O PROJETO</h5>
            <div class="w-25 form-group">
                <label for="orcamento">Orçamento:</label>
                <input asp-for="Projeto.Orcamento" type="number" name="orcamento" id="orcamento" class="form-control" />
        <span asp-validation-for="Projeto.Orcamento" class="text-danger"></span>
            </div>
            <br /><br />
            <!-- Botão de Envio -->
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary btn-lg btn-block">Criar Projeto</button>
            </div>
            <br />
            <a asp-action="Index" asp-route-id="Id" class="btn btn-primary">Voltar</a>
    </form>
        </div>
    </div>

	

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    
    <script>
        function addEquipeProfissionais() {
            var container = document.getElementById("equipeProfissionaisTable").getElementsByTagName('tbody')[0];
            var row = container.insertRow();
            var index = container.rows.length + 1;

            row.innerHTML = `
                <td>
                    <input asp-for="EquipeExecucao[${index}].Nome" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].Nome" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].Formacao" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].Formacao" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].CPF" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].CPF" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].Funcao" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].Funcao" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="text-danger"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                </td>`;
        }


        function addCronograma() {
            var container = document.getElementById("cronogramaFisicoFinanceiroTable").getElementsByTagName('tbody')[0];
            var index = container.rows.length + 1;

            var row = container.insertRow();
            row.innerHTML = `
                <td>
                    <input asp-for="Cronograma[${index}].Etapas" class="form-control" />
                    <span asp-validation-for="Cronograma[${index}].Etapas" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Cronograma[${index}].ValorEtapa" class="form-control" />
                    <span asp-validation-for="Cronograma[${index}].ValorEtapa" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Cronograma[${index}].Inicio" class="form-control" type="date" />
                    <span asp-validation-for="Cronograma[${index}].Inicio" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="Cronograma[${index}].Termino" class="form-control" type="date" />
                    <span asp-validation-for="Cronograma[${index}].Termino" class="text-danger"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                </td>`;
        }


        function addEquipamento() {
            var container = document.getElementById("equipamentosTable").getElementsByTagName('tbody')[0];
            var index = container.rows.length + 1;

            var row = container.insertRow();
            row.innerHTML = `
                <td>
                    <input asp-for="PlanoAplicacao[${index}].Especificacao" class="form-control" />
                    <span asp-validation-for="PlanoAplicacao[${index}].Especificacao" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="PlanoAplicacao[${index}].Unidade" class="form-control" />
                    <span asp-validation-for="PlanoAplicacao[${index}].Unidade" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="PlanoAplicacao[${index}].Quantidade" class="form-control" />
                    <span asp-validation-for="PlanoAplicacao[${index}].Quantidade" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="PlanoAplicacao[${index}].ValorUnitario" class="form-control" />
                    <span asp-validation-for="PlanoAplicacao[${index}].ValorUnitario" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="PlanoAplicacao[${index}].ValorTotal" class="form-control" />
                    <span asp-validation-for="PlanoAplicacao[${index}].ValorTotal" class="text-danger"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                </td>`;
        }
        
        function addEquipeEncarregada() {
            var container = document.getElementById("equipamentosTable").getElementsByTagName('tbody')[0];
            var index = container.rows.length + 1;

            var row = container.insertRow();
            row.innerHTML = `
                <td>
                    <input asp-for="EquipeEncarregada[${index}].Especificacao" class="form-control" />
                    <span asp-validation-for="EquipeEncarregada[${index}].Especificacao" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeEncarregada[${index}].Unidade" class="form-control" />
                    <span asp-validation-for="EquipeEncarregada[${index}].Unidade" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeEncarregada[${index}].Quantidade" class="form-control" />
                    <span asp-validation-for="EquipeEncarregada[${index}].Quantidade" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeEncarregada[${index}].ValorUnitario" class="form-control" />
                    <span asp-validation-for="EquipeEncarregada[${index}].ValorUnitario" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeEncarregada[${index}].ValorTotal" class="form-control" />
                    <span asp-validation-for="EquipeEncarregada[${index}].ValorTotal" class="text-danger"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                </td>`;
        }


        function addEquipeExecucao() {
            var container = document.getElementById("equipeExecucaoTable").getElementsByTagName('tbody')[0];
            var index = container.rows.length + 1;

            var row = container.insertRow();
            row.innerHTML = `
                <td>
                    <input asp-for="EquipeExecucao[${index}].Nome" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].Nome" class="text-danger"></span>
                </td><td>
                    <input asp-for="EquipeExecucao[${index}].CPF" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].CPF" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].Formacao" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].Formacao" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].Funcao" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].Funcao" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="form-control" />
                    <span asp-validation-for="EquipeExecucao[${index}].CargaHorariaSemanal" class="text-danger"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remover</button>
                </td>`;
        }


        function removeRow(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        

        $(document).ready(function () {
            $('#uploadButton').click(function () {
                var formData = new FormData();
                var fileInput = $('#anexo')[0];

                if (fileInput.files.length > 0) {
                    formData.append('anexo', fileInput.files[0]);

                    $.ajax({
                        url: '@Url.Action("Upload", "Projetos")',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                $('#uploadMessage').text(response.message);
                                // Verifique se o id está corretamente retornado na resposta
                                /*
                                if (response.id) {
                                    // Definindo o src da imagem para o endpoint que retorna a imagem
                                    $('#minhaImagem').attr('src', '@Url.Action("ExibirImagem", "Projetos")?id=' + response.id);
                                } else {
                                    console.log('ID não encontrado na resposta.');
                                }*/
                            } else {
                                $('#uploadMessage').text(response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#uploadMessage').text('Erro ao enviar o arquivo: ' + error);
                        }
                    });
                } else {
                    $('#uploadMessage').text('Por favor, selecione um arquivo para anexar.');
                }
            });
        });


    </script>

}
