@model Fortificar.Models.ViewModels.ProjetoViewModel

@{
    ViewData["Title"] = "Detalhes do projeto";
    var Tipo = (int)ViewData["Tipo"];
    var _Situacao = (int)ViewData["_Situacao"];
    var anexosPendentes = (dynamic)ViewData["AnexosPendentes"];

    var base64Imagem = Convert.ToBase64String(Model.Projeto.Anexo.Imagem);
    var imagemSrc = $"data:image/jpeg;base64,{base64Imagem}";
    
}

<h1>@ViewData["Title"]</h1>
<div class="marginB card-body">
    <h5 class="font-weight-bold">SITUAÇÃO DO PROJETO:</h5>
    <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Situacao.Nome" class="form-control" placeholder="Status do projeto" />
                <label asp-for="Projeto.Situacao.Nome">Status do projeto</label>
                <span asp-validation-for="Projeto.Situacao.Nome" class="text-danger"></span>
    </div>
    <!-- 1. DADOS GERAIS DO PROPONENTE -->
    <h5 class="font-weight-bold">1. DADOS GERAIS DO PROPONENTE</h5>

    <div class="row g-2">
        <div class="col-8">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.NomeFantasia" class="form-control" placeholder="Nome Fantasia da Empresa" />
                <label asp-for="Projeto.Proponente.NomeFantasia">Nome Fantasia da Empresa</label>
                <span asp-validation-for="Projeto.Proponente.NomeFantasia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.CNPJ" class="form-control" placeholder="CNPJ da Empresa" />
                <label asp-for="Projeto.Proponente.CNPJ">CNPJ da Empresa</label>
                <span asp-validation-for="Projeto.Proponente.CNPJ" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input readonly asp-for="Projeto.Proponente.Endereco" class="form-control" placeholder="Logradouro" />
        <label asp-for="Projeto.Proponente.Endereco">Endereço</label>
        <span asp-validation-for="Projeto.Proponente.Endereco" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Bairro" class="form-control" placeholder="Bairro" />
                <label asp-for="Projeto.Proponente.Bairro">Bairro</label>
                <span asp-validation-for="Projeto.Proponente.Bairro" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Cidade" class="form-control" placeholder="Cidade" />
                <label asp-for="Projeto.Proponente.Cidade">Cidade</label>
                <span asp-validation-for="Projeto.Proponente.Cidade" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.CEP" class="form-control" placeholder="CEP" />
                <label asp-for="Projeto.Proponente.CEP">CEP</label>
                <span asp-validation-for="Projeto.Proponente.CEP" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row g-2">
        <div class="col-8">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.EmailEmpresa" class="form-control" placeholder="Email" />
                <label asp-for="Projeto.Proponente.EmailEmpresa">Email da Empresa</label>
                <span asp-validation-for="Projeto.Proponente.EmailEmpresa" class="text-danger"></span>
            </div>

        </div>
        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Site" class="form-control" placeholder="Sítio eletrônico de divulgação de parceria" />
                <label asp-for="Projeto.Proponente.Site">Site</label>
                <span asp-validation-for="Projeto.Proponente.Site" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="Projeto.Proponente.Telefone1">Telefone 1</label>
                <span asp-validation-for="Projeto.Proponente.Telefone1" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="Projeto.Proponente.Telefone2">Telefone 2</label>
                <span asp-validation-for="Projeto.Proponente.Telefone2" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.Proponente.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="Projeto.Proponente.Telefone3">Telefone 3</label>
                <span asp-validation-for="Projeto.Proponente.Telefone3" class="text-danger"></span>
            </div>

        </div>
    </div>

    <!-- 2. IDENTIFICAÇÃO DO RESPONSÁVEL LEGAL PELO PROPONENTE -->
    <h5 class="font-weight-bold">2. IDENTIFICAÇÃO DO RESPONSÁVEL LEGAL PELO PROPONENTE</h5>
    <div class="row">
        <div class="col-8">
            <!-- Responsável Legal -->
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.Nome" class="form-control" placeholder="Nome do Responsável Legal" />
                <label asp-for="Projeto.ResponsavelLegal.Nome">Nome do Responsável Legal</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.CPF" class="form-control" placeholder="CPF" />
                <label asp-for="Projeto.ResponsavelLegal.CPF">CPF</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.CPF" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.RG" class="form-control" placeholder="RG" />
                <label asp-for="Projeto.ResponsavelLegal.RG">RG</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.RG" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                <label asp-for="Projeto.ResponsavelLegal.OrgaoExpedidor">Órgão Expedidor</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.OrgaoExpedidor" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                <label asp-for="Projeto.ResponsavelLegal.CargoOSC">Cargo OSC</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.CargoOSC" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                <label asp-for="Projeto.ResponsavelLegal.MandatoVigente">Mandato Vigente</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.MandatoVigente" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.Endereco" class="form-control" placeholder="Endereço" />
                <label asp-for="Projeto.ResponsavelLegal.Endereco">Endereço</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="Projeto.ResponsavelLegal.Telefone1">Telefone 1</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.Telefone1" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="Projeto.ResponsavelLegal.Telefone2">Telefone 2</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.Telefone2" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelLegal.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="Projeto.ResponsavelLegal.Telefone3">Telefone 3</label>
                <span asp-validation-for="Projeto.ResponsavelLegal.Telefone3" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- 3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO DO PROJETO -->
    <h5 class="font-weight-bold">3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO DO PROJETO</h5>
    <div class="row">
        <div class="col-8">
            <!-- Responsável Técnico -->
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.Nome" class="form-control" placeholder="Nome do Responsável Técnico" />
                <label asp-for="Projeto.ResponsavelTecnico.Nome">Nome do Responsável Técnico</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.CPF" class="form-control" placeholder="CPF" />
                <label asp-for="Projeto.ResponsavelTecnico.CPF">CPF</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.CPF" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.RG" class="form-control" placeholder="RG" />
                <label asp-for="Projeto.ResponsavelTecnico.RG">RG</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.RG" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                <label asp-for="Projeto.ResponsavelTecnico.OrgaoExpedidor">Órgão Expedidor</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.OrgaoExpedidor" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                <label asp-for="Projeto.ResponsavelTecnico.CargoOSC">Cargo OSC</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.CargoOSC" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                <label asp-for="Projeto.ResponsavelTecnico.MandatoVigente">Mandato Vigente</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.MandatoVigente" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.Endereco" class="form-control" placeholder="Endereço" />
                <label asp-for="Projeto.ResponsavelTecnico.Endereco">Endereço</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="Projeto.ResponsavelTecnico.Telefone1">Telefone 1</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.Telefone1" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="Projeto.ResponsavelTecnico.Telefone2">Telefone 2</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.Telefone2" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Projeto.ResponsavelTecnico.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="Projeto.ResponsavelTecnico.Telefone3">Telefone 3</label>
                <span asp-validation-for="Projeto.ResponsavelTecnico.Telefone3" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- 4. CONHECENDO O PROPONENTE -->
    <h5 class="font-weight-bold">4. CONHECENDO O PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Proponente.Historico" class="form-control" placeholder="Breve histórico e finalidade da OSC" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Proponente.Historico">Breve histórico e finalidade da OSC</label>
        <span asp-validation-for="Projeto.Proponente.Historico" class="text-danger"></span>
    </div>

    <!-- 5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE -->
    <h5 class="font-weight-bold">5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Proponente.PrincipaisAcoes" class="form-control" placeholder="Principais Ações" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Proponente.PrincipaisAcoes">Principais Ações</label>
        <span asp-validation-for="Projeto.Proponente.PrincipaisAcoes" class="text-danger"></span>
    </div>

    <!-- 6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE -->
    <h5 class="font-weight-bold">6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE</h5>
    <div class="form-group">
        <div class="checkbox-grid">
            <div class="form-check">
                <input disabled class="form-check-input" checked type="checkbox" />
                    <label class="form-check-label">Criança</label>
                </div>
            @foreach (var item in Model.PublicoBeneficiario)
            {
                <div class="form-check">
                    <input class="form-check-input" selected type="checkbox"/>
                    <label class="form-check-label" for="@item.Id">@item.Nome</label>
                </div>
            }
        </div>
    </div>

    <br>
    <!-- 7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS) -->
    <h5 class="font-weight-bold">7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS)</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Proponente.RegioesAtendimento" class="form-control" placeholder="Regiões de Atendimento" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Proponente.RegioesAtendimento">Regiões de Atendimento</label>
        <span asp-validation-for="Projeto.Proponente.RegioesAtendimento" class="text-danger"></span>
    </div>

    <!-- 8. INFRAESTRUTURA DA PROPONENTE -->
    <h5 class="font-weight-bold">8. INFRAESTRUTURA DA PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Proponente.Infraestrutura" class="form-control" placeholder="Infraestrutura" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Proponente.Infraestrutura">Infraestrutura</label>
        <span asp-validation-for="Projeto.Proponente.Infraestrutura" class="text-danger"></span>
    </div>

    <!-- 9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE -->
    <h5 class="font-weight-bold">9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Proponente.EquipeMultidisciplinar" class="form-control" placeholder="Equipe Multidisciplinar" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Proponente.EquipeMultidisciplinar">Equipe Multidisciplinar</label>
        <span asp-validation-for="Projeto.Proponente.EquipeMultidisciplinar" class="text-danger"></span>
    </div>

    <!-- INFORMAÇÕES RELEVANTES -->
    <h5 class="font-weight-bold">INFORMAÇÕES RELEVANTES</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Proponente.InformacoesRelevantes" class="form-control" placeholder="Informações Relevantes" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Proponente.InformacoesRelevantes">Informações Relevantes</label>
        <span asp-validation-for="Projeto.Proponente.InformacoesRelevantes" class="text-danger"></span>
    </div>

    <!-- 10. RESUMO DO PROJETO -->
    <h5 class="font-weight-bold">10. RESUMO DO PROJETO</h5>
    <h6 class="font-weight-bold">10.1 Objeto</h6>
    <div class="form-floating mb-3">
        <input readonly asp-for="Projeto.Objeto" class="form-control" placeholder="Objeto" />
        <label asp-for="Projeto.Objeto">Objeto do Projeto</label>
        <span asp-validation-for="Projeto.Objeto" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.2 Objetivo Geral</h6>
    <div class="form-floating mb-3">
        <input readonly asp-for="Projeto.ObjetivoGeral" class="form-control" placeholder="Objetivo Geral" />
        <label asp-for="Projeto.ObjetivoGeral">Objetivo Geral</label>
        <span asp-validation-for="Projeto.ObjetivoGeral" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.3 Objetivos Específicos</h6>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.ObjetivosEspecificos" class="form-control" placeholder="Objetivos Específicos" style="height: 150px;"></textarea>
        <label asp-for="Projeto.ObjetivosEspecificos">Objetivos Específicos</label>
        <span asp-validation-for="Projeto.ObjetivosEspecificos" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.4 Público Beneficiário do Projeto</h6>
    <div class="form-floating mb-3">
        <select asp-for="Projeto.PublicoBeneficiario" class="form-control">
            <option selected value="CRI">Criança</option>
        </select>
        <label asp-for="Projeto.PublicoBeneficiario">Público Beneficiário</label>
        <span asp-validation-for="Projeto.PublicoBeneficiario" class="text-danger"></span>
    </div>



    <h6 class="font-weight-bold">10.5 Justificativa</h6>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Projeto.Justificativa" class="form-control" placeholder="Justificativa" style="height: 150px;"></textarea>
        <label asp-for="Projeto.Justificativa">Justificativa do Projeto</label>
        <span asp-validation-for="Projeto.Justificativa" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.6 Equipe de Profissionais que Atuarão na Execução do Projeto</h6>
    <!-- Equipe de Profissionais -->
    <table class="table" id="equipeProfissionaisTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Formação</th>
                <th>Função</th>
                <th>Carga Horária Semanal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input readonly class="form-control" value="Fulano"/>
                </td>
                <td>
                    <input readonly class="form-control" value="12345678952"/>
                </td>
                <td>
                    <input readonly class="form-control" value="Exemplo"/>
                </td>
                <td>
                    <input readonly class="form-control" value="Exemplo"/>
                </td>
                <td>
                    <input readonly class="form-control" value="5"/>
                </td>

                @foreach (var item in Model.Projeto.EquipeExecucao)
                {
                    <td>
                        <input readonly asp-for="Projeto.EquipeExecucao[@item.Id].Nome" class="form-control" />
                        <span asp-validation-for="Projeto.EquipeExecucao[@item.Id].Nome" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.EquipeExecucao[@item.Id].CPF" class="form-control" />
                        <span asp-validation-for="Projeto.EquipeExecucao[@item.Id].CPF" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.EquipeExecucao[@item.Id].Formacao" class="form-control" />
                        <span asp-validation-for="Projeto.EquipeExecucao[@item.Id].Formacao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.EquipeExecucao[@item.Id].Funcao" class="form-control" />
                        <span asp-validation-for="Projeto.EquipeExecucao[@item.Id].Funcao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.EquipeExecucao[@item.Id].CargaHorariaSemanal" class="form-control" />
                        <span asp-validation-for="Projeto.EquipeExecucao[@item.Id].CargaHorariaSemanal" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>

    <br />                        <br />


    <h6 class="font-weight-bold">10.7 Período de Execução do Projeto</h6>

    <div class="row">
        <div class="col">
            <label asp-for="Projeto.InicioExecucao" class="control-label"></label>
            <input readonly asp-for="Projeto.InicioExecucao" class="form-control" placeholder="Início em: " />
            <span asp-validation-for="Projeto.InicioExecucao" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Projeto.TerminoExecucao" class="control-label"></label>
            <input readonly asp-for="Projeto.TerminoExecucao" class="form-control" placeholder="Término em: " />
            <span asp-validation-for="Projeto.TerminoExecucao" class="text-danger"></span>
        </div>
    </div>

    <br />

    <!-- 10.8 CRONOGRAMA FÍSICO-FINANCEIRO -->
    <h6 class="font-weight-bold">10.8 CRONOGRAMA FÍSICO-FINANCEIRO DE EXECUÇÃO DO PROJETO</h6>
    <table class="table table-bordered" id="cronogramaFisicoFinanceiroTable">
        <tbody>
            <tr>
                <td colspan="3">
                    Meta:<br>
                    <input readonly asp-for="Projeto.Cronograma" class="form-control" />
                    <span asp-validation-for="Projeto.Cronograma" class="text-danger"></span>
                </td>
                <td colspan="2">
                    Valor:<br>
                    <input readonly asp-for="Projeto.ValorMeta" class="form-control" />
                    <span asp-validation-for="Projeto.ValorMeta" class="text-danger"></span>
                </td>
                <th></th>
            </tr>
            <tr>
                <td colspan="5">
                    Indicador(es): <br />
                    <textarea readonly asp-for="Projeto.Indicadores" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Projeto.Indicadores" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th rowspan="2" class="align-middle text-center">Etapas/Atividades</th>
                <th rowspan="2" class="align-middle text-center">Valor</th>
                <th colspan="2" class="text-center">Período de Execução</th>
            </tr>
            <tr>
                <th>Início</th>
                <th>Término</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input readonly value="Exemplo" class="form-control" />
                </td>
                <td>
                    <input readonly value="50" class="form-control" />
                </td>
                <td>
                    <input readonly value="01/01/2020" class="form-control" type="date" />
                </td>
                <td>
                    <input readonly value="31/12/2024" class="form-control" type="date" />
                </td>

                @foreach (var item in Model.Projeto.CronogramaMeta)
                {
                    <td>
                        <input readonly asp-for="Projeto.CronogramaMeta[@item.Id].Etapas" class="form-control" />
                        <span  class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.CronogramaMeta[@item.Id].ValorEtapa" class="form-control" />
                        <span asp-validation-for="Projeto.CronogramaMeta[@item.Id].ValorEtapa" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.CronogramaMeta[@item.Id].Inicio" class="form-control" type="date" />
                        <span asp-validation-for="Projeto.CronogramaMeta[@item.Id].Inicio" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.CronogramaMeta[@item.Id].Termino" class="form-control" type="date" />
                        <span asp-validation-for="Projeto.CronogramaMeta[@item.Id].Termino" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>
    <br />                        <br />

    <!-- 11. PLANO DE APLICAÇÃO -->
    <h5 class="font-weight-bold">11. PLANO DE APLICAÇÃO</h5>
    <h6 class="font-weight-bold">11.1 Equipamentos e Materiais Permanentes</h6>
    <table class="table" id="equipamentosTable">
        <thead>
            <tr>
                <th>Especificação</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input readonly  class="form-control" value="Teste" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>
                <td>
                    <input readonly  class="form-control" value="1" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>
                @foreach (var item in Model.Projeto.PlanoAplicacao)
                {
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].Especificacao" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].Especificacao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].Unidade" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].Unidade" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].Quantidade" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].Quantidade" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].ValorUnitario" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].ValorUnitario" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].ValorTotal" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].ValorTotal" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>


    <br />                        <br />

    <!-- 11.2 Equipe Encarregada pela Execução do Projeto -->
    <h6 class="font-weight-bold">11.2 Equipe encarregada pela execução do projeto</h6>
    <table class="table" id="equipeExecucaoTable">
        <thead>
            <tr>
                <th>Especificação</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input readonly class="form-control" value="Teste" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>
                <td>
                    <input readonly class="form-control" value="1" />
                </td>

                @foreach (var item in Model.Projeto.PlanoAplicacao)
                {
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].Especificacao" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].Especificacao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].Unidade" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].Unidade" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].Quantidade" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].Quantidade" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].ValorUnitario" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].ValorUnitario" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="Projeto.PlanoAplicacao[@item.Id].ValorTotal" class="form-control" />
                        <span asp-validation-for="Projeto.PlanoAplicacao[@item.Id].ValorTotal" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>

    <br />                        <br />

    <!-- 12. FOTOS DO PROJETO/INSTITUIÇÃO -->
    <h5 class="font-weight-bold">12. FOTO DO PROJETO/INSTITUIÇÃO</h5>

    <div class="form-group">
        <div class="form-group">
            <img class="img-thumbnail" src="@imagemSrc" alt="Foto do Projeto">
        </div>       
    </div>
    <br />

    <div class="form-group">
        <h5 class="font-weight-bold">13. A(S) ODS DO PROJETO</h5>
        <div class="checkbox-grid">
            <div class="form-check form-check-inline">
                    <input disabled class="form-check-input" type="checkbox" checked />
                    <label class="form-check-label">
                        1 - Erradicação da pobreza
                    </label>
                </div>
            @for (int i = 0; i < Model.ODS.Count; i++)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" selected" />
                    <label class="form-check-label" for="odsCheckbox@Model.ODS[i].Id">
                        @Model.ODS[i].Id - @Model.ODS[i].Nome
                    </label>
                </div>
            }
        </div>
    </div>

    <br />

    <h5 class="font-weight-bold">14. ORÇAMENTO PEDIDO PARA O PROJETO</h5>
    <div class="w-25 form-group">
        <label for="orcamento">Orçamento:</label>
        <input readonly asp-for="Projeto.Orcamento" type="number" name="orcamento" id="orcamento" class="form-control" />
        <span asp-validation-for="Projeto.Orcamento" class="text-danger"></span>
    </div>

    <br />

@if (Tipo == 0) // Visão da FORTES
{
    <div>
        @if (_Situacao == 2)
        {
            <div>
                <a asp-action="Aprovar" asp-route-id="@Model.Projeto.Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="Recusados" asp-route-id="@Model.Projeto.Id" class="btn btn-warning">Enviar para análise</a>
            </div>
            <br />
        }
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
    <br />
}
else
{
    <div>
        @if (_Situacao == 1)
        {
                
            <div>
                <a asp-action="EnviarProjeto" asp-route-id="Id" class="btn btn-success">Enviar</a> |
                <a asp-action="Delete" asp-route-id="Id" class="btn btn-danger">Excluir</a> |
            </div>
        }
        <a asp-action="Index" asp-route-id="Id" class="btn btn-primary">Voltar</a>
    </div>
    <br />
}


    @if(Tipo == 0){

        <h5 class="font-weight-bold">Ata de eleição dos dirigentes</h5>
        @if (anexosPendentes.AtaEleicaoPendente)

        {
            <input type="hidden" id="caminhoArq" name="caminhoArq" value="@ViewData["CaminhoDocAnexo"]" />
                <div class="viewPDF marginB" style="height: 300px"></div> 
                <div>
                    <a asp-action="AprovarDoc" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="RecusarDoc" asp-route-id="Id" class="btn btn-warning">Recusar</a> |
            </div><br><br>
        }else{
            <span class="text-success" id="uploadMessage">Documento: Ata de eleição dos dirigentes já aprovado!</span><br />
        }

        
        <h5 class="font-weight-bold">Estatuto ou Contrato Social</h5>
        @if (anexosPendentes.EstatutoPendente)
        {
            <input type="hidden" id="caminhoArq" name="caminhoArqEstatutoPendente" value="@ViewData["CaminhoDocAnexoEstatutoPendente"]" />
            <div class="viewPDFEstatutoPendente marginB" style="height: 300px"></div> 
            <div>
                <a asp-action="AprovarDoc" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="RecusarDoc" asp-route-id="Id" class="btn btn-warning">Recusar</a> |
            </div><br><br>
        }else{
            <span class="text-success" id="uploadMessage">Documento: Estatuto ou Contrato Social já aprovado!</span><br />
        }

        
        <h5 class="font-weight-bold">Cartão do CNPJ</h5>
        @if (anexosPendentes.CNPJPendente)
        {
            <input type="hidden" id="caminhoArq" name="caminhoArqCNPJPendente" value="@ViewData["CaminhoDocAnexoCNPJPendente"]" />
            <div class="viewPDFCNPJPendente marginB" style="height: 300px"></div> 
            <div>
                <a asp-action="AprovarDoc" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="RecusarDoc" asp-route-id="Id" class="btn btn-warning">Recusar</a> |
            </div><br><br>
        }else{
            <span class="text-success" id="uploadMessage">Documento: Cartão do CNPJ já aprovado!</span><br />
        }

        
        <h5 class="font-weight-bold">Cópia do CPF do Responsável Legal</h5>
        @if (anexosPendentes.CPFPendente)
        {
            <input type="hidden" id="caminhoArq" name="caminhoArqCPFPendente" value="@ViewData["CaminhoDocAnexoCPFPendente"]" />
            <div class="viewPDFCPFPendente marginB" style="height: 300px"></div> 
            <div>
                <a asp-action="AprovarDoc" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="RecusarDoc" asp-route-id="Id" class="btn btn-warning">Recusar</a> |
            </div><br><br>
        }else{
            <span class="text-success" id="uploadMessage">Documento: Cópia do CPF do Responsável Legal já aprovado!</span><br />
        }

        
        <h5 class="font-weight-bold">Cópia do RG do Responsável Legal</h5>
        @if (anexosPendentes.RGPendente)
        {
            <input type="hidden" id="caminhoArq" name="caminhoArqRGPendente" value="@ViewData["CaminhoDocAnexoRGPendente"]" />
            <div class="viewPDFRGPendente marginB" style="height: 300px"></div> 
            <div>
                <a asp-action="AprovarDoc" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="RecusarDoc" asp-route-id="Id" class="btn btn-warning">Recusar</a> |
            </div><br><br>
        }else{
            <span class="text-success" id="uploadMessage">Documento: Cópia do RG do Responsável Legal já aprovado!</span><br />
        }

        
        <h5 class="font-weight-bold">Cópia do cheque ou declaração do banco assinada pelo gerente com dados bancários</h5>
        @if (anexosPendentes.DadosBancariosPendente)
        {
            <input type="hidden" id="caminhoArq" name="caminhoArqDadosBancariosPendente" value="@ViewData["CaminhoDocAnexoDadosBancariosPendente"]" />
            
            <div class="viewPDFDadosBancariosPendente marginB" style="height: 300px"></div>
            <div>
                <a asp-action="AprovarDoc" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
                <a asp-action="RecusarDoc" asp-route-id="Id" class="btn btn-warning">Recusar</a> |
            </div><br><br>
        }else{
            <span class="text-success" id="uploadMessage">Documento: Cópia do cheque ou declaração do banco assinada pelo gerente com dados bancários já aprovado!</span>

            <br />
        }

        @if (!anexosPendentes.AtaEleicaoPendente && !anexosPendentes.EstatutoPendente && !anexosPendentes.CNPJPendente && !anexosPendentes.CPFPendente && !anexosPendentes.RGPendente && !anexosPendentes.DadosBancariosPendente )
        {
            <br><a asp-action="ConcluirProjeto" asp-route-id="Id" class="btn btn-lg btn-success">Concluir projeto</a>
        }




    }else if(Tipo == 1){
        @if (_Situacao == 4 || _Situacao == 3)
        {
            @if (!anexosPendentes.AtaEleicaoPendente)
            {
                <h5 class="font-weight-bold">Ata de eleição dos dirigentes</h5>
                <div class="form-group">
                    <label for="anexoAtaEleicao">Selecione um arquivo:</label>
                    <input asp-for="Projeto.Anexo.AtaEleicao" type="file" name="anexoAtaEleicao" id="anexoAtaEleicao" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                    <span asp-validation-for="Projeto.Anexo.AtaEleicao" class="text-danger"></span>

                    <span class="text-success" id="uploadMsgAtaEleicaoPendente"></span>
                    <button type="button" id="uploadAtaEleicaoPendente" class="btn btn-primary">Anexar</button>
                </div>
                <br />
            }
            else
            {
                <span class="text-success" id="uploadMessage">Documento: Ata de eleição dos dirigentes já enviado!</span><br />
            }


            @if (anexosPendentes.EstatutoPendente)
            {
                <h5 class="font-weight-bold">Estatuto ou Contrato Social</h5>
                <div class="form-group">
                    <label for="anexoEstatuto">Selecione um arquivo:</label>
                    <input asp-for="Projeto.Anexo.Estatuto" type="file" name="anexoEstatuto" id="anexoEstatuto" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                    <span asp-validation-for="Projeto.Anexo.Estatuto" class="text-danger"></span>

                    <span class="text-success" id="uploadMsgEstatutoPendente"></span>
                    <button type="button" id="uploadEstatutoPendente" class="btn btn-primary">Anexar</button>
                </div>
                <br>
            }
            else
            {
                <span class="text-success" id="uploadMessage">Documento: Estatuto ou Contrato Social já enviado!</span><br>
            }


            @if (anexosPendentes.CNPJPendente)
            {
                <h5 class="font-weight-bold">Cartão do CNPJ</h5>
                <div class="form-group">
                    <label for="anexoCNPJ">Selecione um arquivo:</label>
                    <input asp-for="Projeto.Anexo.CNPJ" type="file" name="anexoCNPJ" id="anexoCNPJ" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                    <span asp-validation-for="Projeto.Anexo.CNPJ" class="text-danger"></span>

                    <span class="text-success" id="uploadMsgCNPJPendente"></span>
                    <button type="button" id="uploadCNPJPendente" class="btn btn-primary">Anexar</button>
                </div>
                <br>
            }
            else
            {
                <span class="text-success" id="uploadMessage">Documento: Cartão do CNPJ já enviado!</span><br>
            }


            @if (anexosPendentes.CPFPendente)
            {
                <h5 class="font-weight-bold">Cópia do CPF do Responsável Legal</h5>
                <div class="form-group">
                    <label for="anexoCPF">Selecione um arquivo:</label>
                    <input asp-for="Projeto.Anexo.CPFRespLegal" type="file" name="anexoCPFRespLegal" id="anexoCPFRespLegal" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                    <span asp-validation-for="Projeto.Anexo.CPFRespLegal" class="text-danger"></span>
                    <span class="text-success" id="uploadMsgCPFPendente"></span>
                    <button type="button" id="uploadCPFPendente" class="btn btn-primary">Anexar</button>
                </div>
                <br>
            }
            else
            {
                <span class="text-success" id="uploadMessage">Documento: Cópia do CPF do Responsável Legal já enviado!</span><br>
            }


            @if (anexosPendentes.RGPendente)
            {
                <h5 class="font-weight-bold">Cópia do RG do Responsável Legal</h5>
                <div class="form-group">
                    <label for="anexoRPG">Selecione um arquivo:</label>
                    <input asp-for="Projeto.Anexo.RGRespLegal" type="file" name="anexoRGRespLegal" id="anexoRPG" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                    <span asp-validation-for="Projeto.Anexo.RGRespLegal" class="text-danger"></span>
                    <span class="text-success" id="uploadMsgRGPendente"></span>
                    <button type="button" id="uploadRGPendente" class="btn btn-primary">Anexar</button>
                </div>
                <br>
            }
            else
            {
                <span class="text-success" id="uploadMessage">Documento: Cópia do RG do Responsável Legal já enviado!</span><br>
            }


            @if (anexosPendentes.DadosBancariosPendente)
            {
                <!-- Cópia do cheque ou declaração do banco -->
                <h5 class="font-weight-bold">Cópia do cheque ou declaração do banco assinada pelo gerente com dados bancários</h5>
                <div class="form-group">
                    <label for="anexoCheque">Selecione um arquivo:</label>
                    <input asp-for="Projeto.Anexo.DadosBancarios" type="file" name="anexoDadosBancarios" id="anexoDadosBancarios" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                    <span asp-validation-for="Projeto.Anexo.DadosBancarios" class="text-danger"></span>
                    <span class="text-success" id="uploadMsgDadosBancariosPendente"></span>
                    <button type="button" id="uploadButtonDadosBancarios" class="btn btn-primary">Anexar</button>
                </div>
                <br>
            }
            else
            {
                <span class="text-success" id="uploadMessage">Documento: Cópia do cheque ou declaração do banco assinada pelo gerente com dados bancários já enviado!</span><br>
            }

        }
    }



</div>


                    
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.3.0/pdfobject.min.js" integrity="sha512-Nr6NV16pWOefJbWJiT8SrmZwOomToo/84CNd0MN6DxhP5yk8UAoPUjNuBj9KyRYVpESUb14RTef7FKxLVA4WGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    if(PDFObject.supportsPDFs){

        var caminhoArq = document.getElementById('caminhoArq').value;
        PDFObject.embed(caminhoArq, ".viewPDF");

        var caminhoAtaEleicaoPendente = document.getElementById('caminhoAtaEleicaoPendente').value;
        PDFObject.embed(caminhoArqAtaEleicaoPendente, ".viewPDFAtaEleicaoPendente");

        var caminhoEstatutoPendente = document.getElementById('caminhoEstatutoPendente').value;
        PDFObject.embed(caminhoArqEstatutoPendente, ".viewPDFEstatutoPendente");

        var caminhoCNPJPendente = document.getElementById('caminhoCNPJPendente').value;
        PDFObject.embed(caminhoArqCNPJPendente, ".viewPDFCNPJPendente");

        var caminhoCPFPendente = document.getElementById('caminhoCPFPendente').value;
        PDFObject.embed(caminhoArqCPFPendente, ".viewPDFCPFPendente");

        var caminhoRGPendente = document.getElementById('caminhoRGPendente').value;
        PDFObject.embed(caminhoArqRGPendente, ".viewPDFRGPendente");

        var caminhoDadosBancariosPendente = document.getElementById('caminhoDadosBancariosPendente').value;
        PDFObject.embed(caminhoArqDadosBancariosPendente, ".viewPDFDadosBancariosPendente");
    }else{
        alert("Não há documento disponível para exibição!");
    }

</script>