@model Fortificar.Models.Projeto

@{
    ViewData["Title"] = "Detalhes do projeto";
    var Tipo = (int)ViewData["Tipo"];
    var _Situacao = (int)ViewData["_Situacao"];
    var anexosPendentes = (dynamic)ViewData["AnexosPendentes"];
}

<h1>@ViewData["Title"]</h1>
<div class="marginB card-body">
    <h5 class="font-weight-bold">SITUAÇÃO DO PROJETO:</h5>
    <div class="form-floating mb-3">
                <input readonly asp-for="Situacao.Nome" class="form-control" placeholder="Status do projeto" />
                <label asp-for="Situacao.Nome">Status do projeto</label>
                <span asp-validation-for="Situacao.Nome" class="text-danger"></span>
    </div>
    <!-- 1. DADOS GERAIS DO PROPONENTE -->
    <h5 class="font-weight-bold">1. DADOS GERAIS DO PROPONENTE</h5>

    <div class="row g-2">
        <div class="col-8">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.NomeFantasia" class="form-control" placeholder="Nome Fantasia da Empresa" />
                <label asp-for="Proponente.NomeFantasia">Nome Fantasia da Empresa</label>
                <span asp-validation-for="Proponente.NomeFantasia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.CNPJ" class="form-control" placeholder="CNPJ da Empresa" />
                <label asp-for="Proponente.CNPJ">CNPJ da Empresa</label>
                <span asp-validation-for="Proponente.CNPJ" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input readonly asp-for="Proponente.Endereco" class="form-control" placeholder="Logradouro" />
        <label asp-for="Proponente.Endereco">Endereço</label>
        <span asp-validation-for="Proponente.Endereco" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.Bairro" class="form-control" placeholder="Bairro" />
                <label asp-for="Proponente.Bairro">Bairro</label>
                <span asp-validation-for="Proponente.Bairro" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.Cidade" class="form-control" placeholder="Cidade" />
                <label asp-for="Proponente.Cidade">Cidade</label>
                <span asp-validation-for="Proponente.Cidade" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.CEP" class="form-control" placeholder="CEP" />
                <label asp-for="Proponente.CEP">CEP</label>
                <span asp-validation-for="Proponente.CEP" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row g-2">
        <div class="col-8">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.EmailEmpresa" class="form-control" placeholder="Email" />
                <label asp-for="Proponente.EmailEmpresa">Email da Empresa</label>
                <span asp-validation-for="Proponente.EmailEmpresa" class="text-danger"></span>
            </div>

        </div>
        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.Site" class="form-control" placeholder="Sítio eletrônico de divulgação de parceria" />
                <label asp-for="Proponente.Site">Site</label>
                <span asp-validation-for="Proponente.Site" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="Proponente.Telefone1">Telefone 1</label>
                <span asp-validation-for="Proponente.Telefone1" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="Proponente.Telefone2">Telefone 2</label>
                <span asp-validation-for="Proponente.Telefone2" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="Proponente.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="Proponente.Telefone3">Telefone 3</label>
                <span asp-validation-for="Proponente.Telefone3" class="text-danger"></span>
            </div>

        </div>
    </div>

    <!-- 2. IDENTIFICAÇÃO DO RESPONSÁVEL LEGAL PELO PROPONENTE -->
    <h5 class="font-weight-bold">2. IDENTIFICAÇÃO DO RESPONSÁVEL LEGAL PELO PROPONENTE</h5>
    <div class="row">
        <div class="col-8">
            <!-- Responsável Legal -->
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.Nome" class="form-control" placeholder="Nome do Responsável Legal" />
                <label asp-for="ResponsavelLegal.Nome">Nome do Responsável Legal</label>
                <span asp-validation-for="ResponsavelLegal.Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.CPF" class="form-control" placeholder="CPF" />
                <label asp-for="ResponsavelLegal.CPF">CPF</label>
                <span asp-validation-for="ResponsavelLegal.CPF" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.RG" class="form-control" placeholder="RG" />
                <label asp-for="ResponsavelLegal.RG">RG</label>
                <span asp-validation-for="ResponsavelLegal.RG" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                <label asp-for="ResponsavelLegal.OrgaoExpedidor">Órgão Expedidor</label>
                <span asp-validation-for="ResponsavelLegal.OrgaoExpedidor" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                <label asp-for="ResponsavelLegal.CargoOSC">Cargo OSC</label>
                <span asp-validation-for="ResponsavelLegal.CargoOSC" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                <label asp-for="ResponsavelLegal.MandatoVigente">Mandato Vigente</label>
                <span asp-validation-for="ResponsavelLegal.MandatoVigente" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.Endereco" class="form-control" placeholder="Endereço" />
                <label asp-for="ResponsavelLegal.Endereco">Endereço</label>
                <span asp-validation-for="ResponsavelLegal.Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="ResponsavelLegal.Telefone1">Telefone 1</label>
                <span asp-validation-for="ResponsavelLegal.Telefone1" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="ResponsavelLegal.Telefone2">Telefone 2</label>
                <span asp-validation-for="ResponsavelLegal.Telefone2" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelLegal.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="ResponsavelLegal.Telefone3">Telefone 3</label>
                <span asp-validation-for="ResponsavelLegal.Telefone3" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- 3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO DO PROJETO -->
    <h5 class="font-weight-bold">3. IDENTIFICAÇÃO DO RESPONSÁVEL TÉCNICO DO PROJETO</h5>
    <div class="row">
        <div class="col-8">
            <!-- Responsável Técnico -->
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.Nome" class="form-control" placeholder="Nome do Responsável Técnico" />
                <label asp-for="ResponsavelTecnico.Nome">Nome do Responsável Técnico</label>
                <span asp-validation-for="ResponsavelTecnico.Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="col-4">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.CPF" class="form-control" placeholder="CPF" />
                <label asp-for="ResponsavelTecnico.CPF">CPF</label>
                <span asp-validation-for="ResponsavelTecnico.CPF" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.RG" class="form-control" placeholder="RG" />
                <label asp-for="ResponsavelTecnico.RG">RG</label>
                <span asp-validation-for="ResponsavelTecnico.RG" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.OrgaoExpedidor" class="form-control" placeholder="Órgão Expedidor" />
                <label asp-for="ResponsavelTecnico.OrgaoExpedidor">Órgão Expedidor</label>
                <span asp-validation-for="ResponsavelTecnico.OrgaoExpedidor" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.CargoOSC" class="form-control" placeholder="Cargo OSC" />
                <label asp-for="ResponsavelTecnico.CargoOSC">Cargo OSC</label>
                <span asp-validation-for="ResponsavelTecnico.CargoOSC" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.MandatoVigente" class="form-control" placeholder="Mandato Vigente" />
                <label asp-for="ResponsavelTecnico.MandatoVigente">Mandato Vigente</label>
                <span asp-validation-for="ResponsavelTecnico.MandatoVigente" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.Endereco" class="form-control" placeholder="Endereço" />
                <label asp-for="ResponsavelTecnico.Endereco">Endereço</label>
                <span asp-validation-for="ResponsavelTecnico.Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.Telefone1" class="form-control" placeholder="Telefone 1" />
                <label asp-for="ResponsavelTecnico.Telefone1">Telefone 1</label>
                <span asp-validation-for="ResponsavelTecnico.Telefone1" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.Telefone2" class="form-control" placeholder="Telefone 2" />
                <label asp-for="ResponsavelTecnico.Telefone2">Telefone 2</label>
                <span asp-validation-for="ResponsavelTecnico.Telefone2" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <input readonly asp-for="ResponsavelTecnico.Telefone3" class="form-control" placeholder="Telefone 3" />
                <label asp-for="ResponsavelTecnico.Telefone3">Telefone 3</label>
                <span asp-validation-for="ResponsavelTecnico.Telefone3" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- 4. CONHECENDO O PROPONENTE -->
    <h5 class="font-weight-bold">4. CONHECENDO O PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Proponente.Historico" class="form-control" placeholder="Breve histórico e finalidade da OSC" style="height: 150px;"></textarea>
        <label asp-for="Proponente.Historico">Breve histórico e finalidade da OSC</label>
        <span asp-validation-for="Proponente.Historico" class="text-danger"></span>
    </div>

    <!-- 5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE -->
    <h5 class="font-weight-bold">5. PRINCIPAIS AÇÕES DESENVOLVIDAS PELA PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Proponente.PrincipaisAcoes" class="form-control" placeholder="Principais Ações" style="height: 150px;"></textarea>
        <label asp-for="Proponente.PrincipaisAcoes">Principais Ações</label>
        <span asp-validation-for="Proponente.PrincipaisAcoes" class="text-danger"></span>
    </div>

    <!-- 6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE -->
    <h5 class="font-weight-bold">6. PÚBLICO ALVO DE ATENDIMENTO DA PROPONENTE</h5>
    <div class="form-group">
        <div class="checkbox-grid">
            @foreach (var item in Model.PublicoBeneficiario)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="@item.IsSelected" value="@item.Id" />
                    <label class="form-check-label" for="@item.Id">@item.Nome</label>
                </div>
            }
        </div>
    </div>

    <br>
    <!-- 7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS) -->
    <h5 class="font-weight-bold">7. REGIÕES DE ALCANCE DAS AÇÕES (BAIRROS)</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Proponente.RegioesAtendimento" class="form-control" placeholder="Regiões de Atendimento" style="height: 150px;"></textarea>
        <label asp-for="Proponente.RegioesAtendimento">Regiões de Atendimento</label>
        <span asp-validation-for="Proponente.RegioesAtendimento" class="text-danger"></span>
    </div>

    <!-- 8. INFRAESTRUTURA DA PROPONENTE -->
    <h5 class="font-weight-bold">8. INFRAESTRUTURA DA PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Proponente.Infraestrutura" class="form-control" placeholder="Infraestrutura" style="height: 150px;"></textarea>
        <label asp-for="Proponente.Infraestrutura">Infraestrutura</label>
        <span asp-validation-for="Proponente.Infraestrutura" class="text-danger"></span>
    </div>

    <!-- 9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE -->
    <h5 class="font-weight-bold">9. EQUIPE MULTIDISCIPLINAR DO PROPONENTE</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Proponente.EquipeMultidisciplinar" class="form-control" placeholder="Equipe Multidisciplinar" style="height: 150px;"></textarea>
        <label asp-for="Proponente.EquipeMultidisciplinar">Equipe Multidisciplinar</label>
        <span asp-validation-for="Proponente.EquipeMultidisciplinar" class="text-danger"></span>
    </div>

    <!-- INFORMAÇÕES RELEVANTES -->
    <h5 class="font-weight-bold">INFORMAÇÕES RELEVANTES</h5>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Proponente.InformacoesRelevantes" class="form-control" placeholder="Informações Relevantes" style="height: 150px;"></textarea>
        <label asp-for="Proponente.InformacoesRelevantes">Informações Relevantes</label>
        <span asp-validation-for="Proponente.InformacoesRelevantes" class="text-danger"></span>
    </div>

    <!-- 10. RESUMO DO PROJETO -->
    <h5 class="font-weight-bold">10. RESUMO DO PROJETO</h5>
    <h6 class="font-weight-bold">10.1 Objeto</h6>
    <div class="form-floating mb-3">
        <input readonly asp-for="Objeto" class="form-control" placeholder="Objeto" />
        <label asp-for="Objeto">Objeto do Projeto</label>
        <span asp-validation-for="Objeto" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.2 Objetivo Geral</h6>
    <div class="form-floating mb-3">
        <input readonly asp-for="ObjetivoGeral" class="form-control" placeholder="Objetivo Geral" />
        <label asp-for="ObjetivoGeral">Objetivo Geral</label>
        <span asp-validation-for="ObjetivoGeral" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.3 Objetivos Específicos</h6>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="ObjetivosEspecificos" class="form-control" placeholder="Objetivos Específicos" style="height: 150px;"></textarea>
        <label asp-for="ObjetivosEspecificos">Objetivos Específicos</label>
        <span asp-validation-for="ObjetivosEspecificos" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.4 Público Beneficiário do Projeto</h6>
    <div class="form-floating mb-3">
        <select asp-for="PublicoBeneficiario" class="form-control">
            <option value="">Selecione o Público Beneficiário</option>
            <option value="CRI">Criança</option>
            <option value="ADO">Adolescente</option>
            <option value="JOV">Jovens</option>
            <option value="ADU">Adultos</option>
            <option value="IDO">Idosos</option>
            <option value="CAE">Criança e Adolescente</option>
            <option value="CAJ">Criança, adolescentes, Jovens, adultos e idosos</option>
            <option value="ADI">Adultos e Idosos</option>
            <option value="MUL">Mulheres</option>
            <option value="PCD">PCD</option>
            <option value="DSA">Dependentes de substâncias psicoativas</option>
        </select>
        <label asp-for="PublicoBeneficiario">Público Beneficiário</label>
        <span asp-validation-for="PublicoBeneficiario" class="text-danger"></span>
    </div>



    <h6 class="font-weight-bold">10.5 Justificativa</h6>
    <div class="form-floating mb-3">
        <textarea readonly asp-for="Justificativa" class="form-control" placeholder="Justificativa" style="height: 150px;"></textarea>
        <label asp-for="Justificativa">Justificativa do Projeto</label>
        <span asp-validation-for="Justificativa" class="text-danger"></span>
    </div>

    <h6 class="font-weight-bold">10.6 Equipe de Profissionais que Atuarão na Execução do Projeto</h6>
    <!-- Equipe de Profissionais -->
    <table class="table" id="equipeProfissionaisTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Formação</th>
                <th>Função</th>
                <th>Carga Horária Semanal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model.EquipeExecucao)
                {
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].Nome" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].Nome" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].CPF" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].CPF" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].Formacao" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].Formacao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].Funcao" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].Funcao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].CargaHorariaSemanal" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].CargaHorariaSemanal" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>

    <br />                        <br />


    <h6 class="font-weight-bold">10.7 Período de Execução do Projeto</h6>

    <div class="row">
        <div class="col">
            <label asp-for="InicioExecucao" class="control-label"></label>
            <input readonly asp-for="InicioExecucao" class="form-control" placeholder="Início em: " />
            <span asp-validation-for="InicioExecucao" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="TerminoExecucao" class="control-label"></label>
            <input readonly asp-for="TerminoExecucao" class="form-control" placeholder="Término em: " />
            <span asp-validation-for="TerminoExecucao" class="text-danger"></span>
        </div>
    </div>

    <br />

    <!-- 10.8 CRONOGRAMA FÍSICO-FINANCEIRO -->
    <h6 class="font-weight-bold">10.8 CRONOGRAMA FÍSICO-FINANCEIRO DE EXECUÇÃO DO PROJETO</h6>
    <table class="table table-bordered" id="cronogramaFisicoFinanceiroTable">
        <tbody>
            <tr>
                <td colspan="3">
                    Meta:<br>
                    <input readonly asp-for="Cronograma" class="form-control" />
                    <span asp-validation-for="Cronograma" class="text-danger"></span>
                </td>
                <td colspan="2">
                    Valor:<br>
                    <input readonly asp-for="ValorMeta" class="form-control" />
                    <span asp-validation-for="ValorMeta" class="text-danger"></span>
                </td>
                <th></th>
            </tr>
            <tr>
                <td colspan="5">
                    Indicador(es): <br />
                    <textarea readonly asp-for="Indicadores" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Indicadores" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th rowspan="2" class="align-middle text-center">Etapas/Atividades</th>
                <th rowspan="2" class="align-middle text-center">Valor</th>
                <th colspan="2" class="text-center">Período de Execução</th>
            </tr>
            <tr>
                <th>Início</th>
                <th>Término</th>
                <th></th>
            </tr>
            <tr>

                @foreach (var item in Model.CronogramaMeta)
                {
                    <td>
                        <input readonly asp-for="CronogramaMeta[@item.Id].Etapas" class="form-control" />
                        <span asp-validation-for="CronogramaMeta[@item.Id].Etapas" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="CronogramaMeta[@item.Id].ValorEtapa" class="form-control" />
                        <span asp-validation-for="CronogramaMeta[@item.Id].ValorEtapa" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="CronogramaMeta[@item.Id].Inicio" class="form-control" type="date" />
                        <span asp-validation-for="CronogramaMeta[@item.Id].Inicio" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="CronogramaMeta[@item.Id].Termino" class="form-control" type="date" />
                        <span asp-validation-for="CronogramaMeta[@item.Id].Termino" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>
    <br />                        <br />

    <!-- 11. PLANO DE APLICAÇÃO -->
    <h5 class="font-weight-bold">11. PLANO DE APLICAÇÃO</h5>
    <h6 class="font-weight-bold">11.1 Equipamentos e Materiais Permanentes</h6>
    <table class="table" id="equipamentosTable">
        <thead>
            <tr>
                <th>Especificação</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>


                @foreach (var item in Model.PlanoAplicacao)
                {
                    <td>
                        <input readonly asp-for="PlanoAplicacao[@item.Id].Especificacao" class="form-control" />
                        <span asp-validation-for="PlanoAplicacao[@item.Id].Especificacao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="PlanoAplicacao[@item.Id].Unidade" class="form-control" />
                        <span asp-validation-for="PlanoAplicacao[@item.Id].Unidade" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="PlanoAplicacao[@item.Id].Quantidade" class="form-control" />
                        <span asp-validation-for="PlanoAplicacao[@item.Id].Quantidade" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="PlanoAplicacao[@item.Id].ValorUnitario" class="form-control" />
                        <span asp-validation-for="PlanoAplicacao[@item.Id].ValorUnitario" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="PlanoAplicacao[@item.Id].ValorTotal" class="form-control" />
                        <span asp-validation-for="PlanoAplicacao[@item.Id].ValorTotal" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>


    <br />                        <br />

    <!-- 11.2 Equipe Encarregada pela Execução do Projeto -->
    <h6 class="font-weight-bold">11.2 Equipe encarregada pela execução do projeto</h6>
    <table class="table" id="equipeExecucaoTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Formação</th>
                <th>Função</th>
                <th>Carga Horária Semanal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @foreach (var item in Model.EquipeExecucao)
                {
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].Nome" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].Nome" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].CPF" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].CPF" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].Formacao" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].Formacao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].Funcao" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].Funcao" class="text-danger"></span>
                    </td>
                    <td>
                        <input readonly asp-for="EquipeExecucao[@item.Id].CargaHorariaSemanal" class="form-control" />
                        <span asp-validation-for="EquipeExecucao[@item.Id].CargaHorariaSemanal" class="text-danger"></span>
                    </td>
                }

            </tr>
        </tbody>
    </table>

    <br />                        <br />

    <!-- 12. FOTOS DO PROJETO/INSTITUIÇÃO -->
    <h5 class="font-weight-bold">12. FOTO DO PROJETO/INSTITUIÇÃO</h5>

    <div class="form-group">
        <img class="img-thumbnail" src="Anexo.Imagem" alt="Foto do Projeto">        
    </div>
    <br />

    <div class="form-group">
        <h5 class="font-weight-bold">13. A(S) ODS DO PROJETO</h5>
        <div class="checkbox-grid">
            @for (int i = 0; i < Model.ODS.Count; i++)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" asp-for="ODS[i].IsSelected" />
                    <label class="form-check-label" for="odsCheckbox@Model.ODS[i].Id">
                        @Model.ODS[i].Id - @Model.ODS[i].Nome
                    </label>
                </div>
            }
        </div>
    </div>

    <br />

    <h5 class="font-weight-bold">14. ORÇAMENTO PEDIDO PARA O PROJETO</h5>
    <div class="w-25 form-group">
        <label for="orcamento">Orçamento:</label>
        <input readonly asp-for="Orcamento" type="number" name="orcamento" id="orcamento" class="form-control" />
        <span asp-validation-for="Orcamento" class="text-danger"></span>
    </div>

    <br />

@if (Tipo == 0) // Visão da FORTES
{
    <div>
        <a asp-action="Aprovar" asp-route-id="Id" class="btn btn-success">Aprovar</a> |
        <a asp-action="Index" asp-route-id="Id" class="btn btn-primary">Voltar</a> |
        <a asp-action="Recusados" asp-route-id="Id" class="btn btn-warning">Enviar para análise</a>
    </div>
    <br />
}
else
{
    <div>
        @if (_Situacao == 1)
        {
                
            <div>
                <a asp-action="EnviarProjeto" asp-route-id="Id" class="btn btn-success">Enviar</a> |
                <a asp-action="Delete" asp-route-id="Id" class="btn btn-danger">Excluir</a> |
            </div>
        }
        <a asp-action="Index" asp-route-id="Id" class="btn btn-primary">Voltar</a>
    </div>
    <br />
}


    @if (_Situacao == 4)
    {
        @if (anexosPendentes.AtaEleicaoPendente)
        {
            <h5 class="font-weight-bold">Ata de eleição dos dirigentes</h5>
            <div class="form-group">
                <label for="anexoAtaEleicao">Selecione um arquivo:</label>
                <input asp-for="Anexo.AtaEleicao" type="file" name="anexoAtaEleicao" id="anexoAtaEleicao" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                <span asp-validation-for="Anexo.AtaEleicao" class="text-danger"></span>
                
                <span class="text-success" id="uploadMsgAtaEleicaoPendente"></span>
                <button type="button" id="uploadAtaEleicaoPendente" class="btn btn-primary">Anexar</button>
            </div>
            <br />
        }else{
            <span class="text-success" id="uploadMessage">Documento já enviado!</span>
        }


        @if (anexosPendentes.EstatutoPendente)
        {
            <h5 class="font-weight-bold">Estatuto ou Contrato Social</h5>
            <div class="form-group">
                <label for="anexoEstatuto">Selecione um arquivo:</label>
                <input asp-for="Anexo.Estatuto" type="file" name="anexoEstatuto" id="anexoEstatuto" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                <span asp-validation-for="Anexo.Estatuto" class="text-danger"></span>
                
                <span class="text-success" id="uploadMsgEstatutoPendente"></span>
                <button type="button" id="uploadEstatutoPendente" class="btn btn-primary">Anexar</button>
            </div>
            <br>
        }else{
            <span class="text-success" id="uploadMessage">Documento já enviado!</span>
        }


        @if (anexosPendentes.CNPJPendente)
        {
            <h5 class="font-weight-bold">Cartão do CNPJ</h5>
            <div class="form-group">
                <label for="anexoCNPJ">Selecione um arquivo:</label>
                <input asp-for="Anexo.CNPJ" type="file" name="anexoCNPJ" id="anexoCNPJ" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                <span asp-validation-for="Anexo.CNPJ" class="text-danger"></span>
                
                <span class="text-success" id="uploadMsgCNPJPendente"></span>
                <button type="button" id="uploadCNPJPendente" class="btn btn-primary">Anexar</button>
            </div>
            <br>
        }else{
            <span class="text-success" id="uploadMessage">Documento já enviado!</span>
        }


        @if (anexosPendentes.CPFPendente)
        {
            <h5 class="font-weight-bold">Cópia do CPF do Responsável Legal</h5>
            <div class="form-group">
                <label for="anexoCPF">Selecione um arquivo:</label>
                <input asp-for="Anexo.CPFRespLegal" type="file" name="anexoCPFRespLegal" id="anexoCPFRespLegal" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                <span asp-validation-for="Anexo.CPFRespLegal" class="text-danger"></span>
                <span class="text-success" id="uploadMsgCPFPendente"></span>
                <button type="button" id="uploadCPFPendente" class="btn btn-primary">Anexar</button>
            </div>
            <br>
        }else{
            <span class="text-success" id="uploadMessage">Documento já enviado!</span>
        }


        @if (anexosPendentes.RGPendente)
        {
            <h5 class="font-weight-bold">Cópia do RG do Responsável Legal</h5>
            <div class="form-group">
                <label for="anexoRPG">Selecione um arquivo:</label>
                <input asp-for="Anexo.RGRespLegal" type="file" name="anexoRGRespLegal" id="anexoRPG" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                <span asp-validation-for="Anexo.RGRespLegal" class="text-danger"></span>
                <span class="text-success" id="uploadMsgRGPendente"></span>
                <button type="button" id="uploadRGPendente" class="btn btn-primary">Anexar</button>
            </div>
            <br>
        }else{
            <span class="text-success" id="uploadMessage">Documento já enviado!</span>
        }


        @if (anexosPendentes.DadosBancariosPendente)
        {
            <!-- Cópia do cheque ou declaração do banco -->
            <h5 class="font-weight-bold">Cópia do cheque ou declaração do banco assinada pelo gerente com dados bancários</h5>
            <div class="form-group">
                <label for="anexoCheque">Selecione um arquivo:</label>
                <input asp-for="Anexo.DadosBancarios" type="file" name="anexoDadosBancarios" id="anexoDadosBancarios" class="form-control" accept=".jpg, .jpeg, .png, .pdf" />
                <span asp-validation-for="Anexo.DadosBancarios" class="text-danger"></span>
                <span class="text-success" id="uploadMsgDadosBancariosPendente"></span>
                <button type="button" id="uploadButtonDadosBancarios" class="btn btn-primary">Anexar</button>
            </div>
            <br>
        }else{
            <span class="text-success" id="uploadMessage">Documento já enviado!</span>
        }

    }



</div>
