@model List<Projeto>

@{
    ViewData["Title"] = "Visualizar Projetos";
    Layout = "../Shared/_Layout.cshtml";

    var Tipo = (int)ViewData["Tipo"];

}

<h1>@ViewData["Title"]</h1>
<br />
@if (Tipo == 1)
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Criar novo Projeto</a>
    </p>
}
else if (Tipo == 0)
{
    <p>
        <a class="btn btn-warning" asp-action="Recusados">Projetos em análise</a>
    </p>
}


<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Nome da Empresa
            </th>
            <th>
                Orçamento do Projeto
            </th>
            <th>
                Ações
            </th>
            <th>
                Situação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Proponente.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orcamento)
                </td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao.Nome)
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-action="Index" asp-route-id="Id" class="btn btn-primary">Voltar</a>