@model Fortificar.Models.ViewModels.ProjetoViewModel

@{
    ViewData["Title"] = "Visualizar Projetos";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<br /><br />
<div class="form-group">
    <a asp-action="Create">Criar novo Projeto</a>
</div>

<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proponente.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto.Orcamento)
            </th>
            <th>
                Ações
            </th>
            <th>
                Situação
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <td>
                    Teste Empresa
                </td>
                <td>
                    6000
                </td>
                <td>
                    <a asp-action="Edit" >Editar</a> |
                    <a asp-action="Details" >Detalhes</a> |
                    <a asp-action="Delete" >Excluir</a>
                </td>
                <td>
                    Em análise
                </td>
            </tr>
        @foreach (var item in Model.Projetos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Proponente.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orcamento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

